html,
body {
    background-repeat: no-repeat;
    color: white;
    width: 100%;
    margin: 0;
    padding: 0;
}


/* If you want to keep the margins on the body and don't want scroll bars, use the following css: */
html {
    height: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    background: radial-gradient(circle at center, #1A0732 0, black 100%);
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

html::-webkit-scrollbar {
    display: none;
}



/* CUSTOM TITLEBAR */
.titlebar {
    height: 33px;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    color: #fffbfe;
    outline: none;
    border: none;
    margin-right: 1.5vw;
    border-radius: 0.5vw;
    margin-top: 0.3vh;
    animation: fadeIn 1s;
}

.titlebar-button svg {
    margin-top: 0.1vh;
}

.titlebar-button:hover {
    background: #1d0f31;
}

.titlebar-button:nth-of-type(1):hover > svg {
    color: rgb(214, 207, 105);
}

.titlebar-button:nth-of-type(2):hover > svg {
    color: rgb(105, 214, 110);
}

.titlebar-button:nth-of-type(3):hover > svg {
    color: rgb(214, 105, 105);
}

.downArrow {
    opacity: 70%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 2vw;
    height: 4vh;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 1vh); }
    100%   { transform: translate(0, -0px); }   
}

.userIcon {
    height: 2vh;
    width: auto;
}

.dragHandle {
    height: 2vh;
    width: auto;
    margin-right: 1vw;
    cursor: pointer;
}

.saveIcon {
    height: 3vh;
    width: auto;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

