html, body {
    background: radial-gradient(circle at center, #1A0732 0,black 100%);
    background-repeat: no-repeat;
    color: white;
    width: 	100%;
    margin: 0;
    padding: 0;
}

/* If you want to keep the margins on the body and don't want scroll bars, use the following css: */
html { height:100%; }
body { 
    position:absolute; 
    top:0; 
    bottom:0; 
    right:0; 
    left:0; 
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

