.textInput {
    font-size: 2vh;
    height: 3vh;
    padding: 2%;
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(24, 14, 37, 0.9);
    border-radius: 0.8vw;
    border: none;
    outline: none;
    border-bottom: 1px solid #50316f;
    color: white;
}

.textInputBig{
    height: 30vh;
    resize: none;
    overflow-y: scroll;
}

.textInputBig::-webkit-scrollbar {
    visibility: hidden;
}